<div class="row m-b-15">
    <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9">
        <div class="row">
            <div class="col"><p class="bold text-uppercase p-t-5 p-l-10 p-r-10">{{'supplier.customers.list.title' | translate}}</p></div>
            <div class="col d-flex justify-content-start justify-content-sm-end mb-3 mb-sm-0">
                <p class="bold text-uppercase p-t-5 p-l-10 p-r-10">
                    {{'supplier.customers.list.export.title' | translate}}
                </p>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-transparent" ng-click="$ctrl.exportCustomerList('pdf')">
                            {{'supplier.customers.list.export.pdf' | translate}}
                        </button>
                        <button type="button" class="btn btn-transparent" ng-click="$ctrl.exportCustomerList('xls')">
                            {{'supplier.customers.list.export.xls' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3"><button data-toggle="modal" data-target="#inviteCustomerModal"  class="btn btn-primary btn-block">
        {{'supplier.customers.list.button.invite' | translate}}

    </button></div>
</div>
<div class="card">
    <div class="gray-container">
        <div class="row">
            <div class="col-sm-6">
                <p class="w600">{{'supplier.customers.list.search.status.label' | translate}}</p>
                <div class="checkbox check-primary">
                            <span ng-repeat="item in $ctrl.status">
                                  <input type="checkbox"
                                         checklist-model="$ctrl.customerQuery.status"
                                         checklist-value="item"
                                         checked="checked"
                                         name="check" id="check{{$index}}"
                                         ng-change="$ctrl.check(item, checked)">
                                  <label class="small-text" for="check{{$index}}">
                                      <span ng-if="item === 'Active'">{{"supplier.account.customer.active" | translate}}</span>
                                      <span ng-if="item === 'Invited'">{{"supplier.account.customer.invited" | translate}}</span>
                                      <span ng-if="item === 'Suspended'">{{"supplier.account.customer.suspended" | translate}}</span>
                                      <span ng-if="item === 'Blocked'">{{"supplier.account.customer.blocked" | translate}}</span>
                                  </label>
                            </span>
                </div>

            </div>
            <div class="col-sm-6">
                <p class="w600">{{'supplier.customers.list.search.payment.label' | translate}}</p>
                <div class="checkbox check-primary">
                    <input type="checkbox" value="1" id="checkbox4" ng-model="$ctrl.customerQuery.payingSoon" ng-change="$ctrl.checkPayment()">
                    <label for="checkbox4" class="small-text">
                        {{'supplier.customers.list.search.payment.payingSoon.label' | translate}}
                    </label>
                    <input type="checkbox" checked="checked" value="2" id="checkbox5" ng-model="$ctrl.customerQuery.missedPayment" ng-change="$ctrl.checkPayment()">
                    <label for="checkbox5" class="small-text">
                        {{'supplier.customers.list.search.payment.missedPayment.label' | translate}}
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="">
        <div class="card-block">
            <div class="row m-b-10">
                <div class="col-12">
                    <div class="form-group">
                        <input type="text" ng-model="$ctrl.customerQuery.customerName" placeholder="{{'supplier.customers.list.search.customerName.label' | translate}}"
                               ng-change="$ctrl.getCustomers($ctrl.customerQuery)"
                               class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12  padding-0">
                <div class="dataTables_wrapper no-footer">
                    <div class="table-responsive">
                        <table class="table table-striped table-compact table-hover" role="grid">
                            <thead>
                            <tr role="row">
                                <th>{{'supplier.customers.list.table.header.status' | translate}}</th>
                                <th>{{'supplier.customers.list.table.header.name' | translate}}</th>
                                <th>{{'supplier.customers.list.table.header.balance' | translate}}</th>
                                <th>{{'supplier.customers.list.table.header.remainingTillLimit' | translate}}</th>
                                <th>{{'supplier.customers.list.table.header.paymentDue' | translate}}</th>
                            </tr></thead>
                            <tbody>


                            <tr ng-repeat="customer in $ctrl.customers" class="gradeX odd content-table-payment cursor" role="row" ui-sref="app.supplier.customer.detail({customerId:customer._id})">
                                <td class="mn-120 sorting_1">
                                    <span ng-if="customer.status === 'Active'"
                                          class="label label-success upper-case">{{"supplier.account.customer.active" | translate}}</span>
                                    <span ng-if="customer.status === 'Invited'"
                                          class="label label-warning upper-case">{{"supplier.account.customer.invited" | translate}}</span>
                                    <span ng-if="customer.status === 'Suspended'"
                                          class="label label-warning upper-case">{{"supplier.account.customer.suspended" | translate}}</span>
                                    <span ng-if="customer.status === 'Blocked'"
                                          class="label label-important upper-case">{{"supplier.account.customer.blocked" | translate}}</span>
                                </td>
                                <td class="mn-130 sorting_1"><a ui-sref="app.supplier.customer.detail({customerId:customer._id})">{{customer.representativeName}}</a></td>
                                <td class="mn-100 sorting_1">{{customer.balance | currency : "" : 2}} <small>{{"supplier.account.payment.sar" | translate }}</small></td>
                                <td class="mn-120 sorting_1">{{customer.remainingTillLimit | currency : "" : 2}} <small>{{"supplier.account.payment.sar" | translate }}</small></td>
                                <td class="mn-90 sorting_1" ng-class="{ 'text-danger' : customer.dueDateMissed }">{{customer.nextPaymentDueDate | amDateFormat:'DD-MM-YYYY'}}</td>
                            </tr>

                            </tbody>
                        </table>
                        <list-pagination total-pages="$ctrl.totalPages" on-page-click="$ctrl.setPage(pageNumber)" current-page="$ctrl.currentPage"></list-pagination>
                    </div>
                </div>
                <!--<shimmer hide="$ctrl.customers.length > 0" col="4" row="5"></shimmer>-->

                <!--<div class="row" ng-if="$ctrl.customers.length === 0">-->
                    <!--<div class="col">-->
                        <!--<div class="tx-center p-t-50 p-b-20" background="assets/img/cards/stripes.png">-->
                            <!--<div class="card-image-overlay"></div>-->
                            <!--&lt;!&ndash;<img src="assets/img/cards/no-orders.svg">&ndash;&gt;-->
                            <!--<p class="paragraph m-t-10">{{"supplier.customers.list.view.noOrders" | translate }}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade stick-up" id="inviteCustomerModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{'supplier.customers.invite-customer.title' | translate}}</span></h5>
                <p></p>

            </div>
            <div class="modal-body">
                <form role="form" name="inviteForm" id="inviteForm" ng-submit="$ctrl.inviteCustomer(inviteForm)" accessible-form>
                    <div class="form-group-attached">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-default">
                                    <label>{{'supplier.customers.invite-customer.field.email.label' | translate}}</label>
                                    <input type="email" name="email" id="email" ng-model="$ctrl.customerEmail" class="form-control"
                                           required ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
                                </div>
                                <div ng-messages="inviteForm.email.$error">
                                    <span class="error" ng-message="required" ng-if="!inviteForm.email.$pristine">
                                        {{'supplier.customers.invite-customer.field.email.required' | translate}}
                                    </span>
                                    <span class="error" ng-message="email">
                                        {{'supplier.customers.invite-customer.field.email.invalid' | translate}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4 m-t-10 sm-m-t-10 text-center">
                            <button type="submit" class="btn btn-primary btn-block m-t-5" ng-disabled="inviteForm.$invalid">
                                {{'supplier.customers.invite-customer.button.invite' | translate}}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
