<div class="card card-details-table">
    <div class="card-header header-bg">
        <button id="show-modal" class="btn btn-primary btn-cons btn-lg pull-right m-t-10" ng-click="$ctrl.showModal()"><i class="fa fa-plus"></i> {{"admin.settings.config.button" | translate }}</button>

        <div>
            <div class="card-title">
                {{"admin.settings.config.systemConfig" | translate }}
            </div>
          <div class="card-description">
                {{"admin.settings.warning" | translate }}
            </div>
        </div>
    </div>

    <div class="card-block card-wide-padding wide-leftup">
        <shimmer hide="$ctrl.configListIsLoaded" col="3" clipped="true"></shimmer>
        <div ng-if="$ctrl.configListIsLoaded && ($ctrl.hasError || !$ctrl.systemConfigList.length)" class="row">
            <div class="col">
                <div class="tx-center p-t-50 p-b-20" background="assets/img/cards/stripes.png">
                    <div class="card-image-overlay"></div>
                    <img src="assets/img/cards/error.svg">
                    <p class="paragraph m-t-10">{{"admin.settings.noResults" | translate }}</p>
                </div>
            </div>
        </div>
        <div ng-if="$ctrl.configListIsLoaded" ng-repeat="(key, value) in $ctrl.systemConfigList | groupBy: 'group'">
            <div class="col-md-12">
                <!-- START PANEL -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title uppercase bold">
                            {{ key }}
                        </div>
                    </div>
                    <div class="panel-body m-b-30">

                        <div class="table-responsive">
                            <table class="table table-striped table-compact table-hover" id="basicTable">
                                <thead>
                                <tr>
                                    <th style="width:20%">{{"admin.settings.config.table.title" | translate }}</th>
                                    <th>{{"admin.settings.config.table.key" | translate }}</th>
                                    <th>{{"admin.settings.config.table.value" | translate }}</th>
                                    <th style="width:150px">{{"admin.settings.config.table.op" | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  ng-repeat="item in value">
                                    <td class="v-align-middle ">
                                        <p>{{item.title}}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{item.key}}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <p>{{item.value}}</p>
                                    </td>
                                    <td class="v-align-middle">
                                        <button ng-click="$ctrl.editModal(item)" class="btn btn-xs btn-defualt"><i class="fa fa-pencil"></i> {{"admin.settings.units.popUp2.edit" | translate }}</button>
                                        <button permission permission-only="'canDelete'" ng-click="$ctrl.openDeleteConfirmMessage(item)" class="btn btn-xs btn-defualt"><i class="fa fa-trash"></i> {{"admin.settings.units.popUp2.delete" | translate }}</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END PANEL -->
            </div>
        </div>
    </div>
</div>




<!-- END CONTAINER FLUID -->
<div class="modal fade slide-up disable-scroll ng-scope" id="addNewAppModal" tabindex="-1"  role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">{{"admin.settings.config.popUp1.cardTitle.new" | translate }}</span>{{"admin.settings.config.popUp1.cardTitle.variables" | translate }}</h4> </div>
                <div class="modal-body">
                    <form role="form" name="configForm" id="configForm" ng-submit="$ctrl.add(configForm)" accessible-form novalidate class="ng-pristine ng-valid">
                        <!--ui-keypress="{13:'$ctrl.add()'}" -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label for="addConfigTitle">{{"admin.settings.config.popUp1.title.label" | translate }}</label>
                                    <input required id="addConfigTitle" type="text" ng-model="$ctrl.config.title" class="form-control" placeholder='{{"admin.settings.config.popUp1.title.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp1.key.label" | translate }}</label>
                                    <input required id="addConfigKey" type="text" ng-model="$ctrl.config.key" class="form-control" placeholder='{{"admin.settings.config.popUp1.key.placeholder" | translate }}'> </div>
                            </div>
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp1.group.label" | translate }}</label>
                                    <input required id="addConfigGroup" type="text" ng-model="$ctrl.config.group" class="form-control" placeholder='{{"admin.settings.config.popUp1.group.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp1.type.label" | translate }}</label>
                                    <select required id="addConfigType" type="text" ng-model="$ctrl.config.type" class="form-control"
                                            placeholder='{{"admin.settings.config.popUp1.type.placeholder" | translate }}'
                                    ng-options="item for item in $ctrl.typeList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp1.order.label" | translate }}</label>
                                    <input required id="addConfigOrder" type="number" ng-model="$ctrl.config.order" min="0" class="form-control" placeholder='{{"admin.settings.config.popUp1.order.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp1.value.label" | translate }}</label>
                                    <input required id="addConfigValue" type="text" ng-model="$ctrl.config.value" class="form-control" placeholder='{{"admin.settings.config.popUp1.value.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="modal-footer p-0">
                            <button id="addConfigBtn" type="submit" ng-disabled="configForm.$invalid" class="btn btn-primary  btn-cons">
                                {{"admin.settings.config.popUp1.add" | translate }}
                            </button>
                            <button type="button" data-dismiss="modal" ng-click="$ctrl.resetModal()" class="btn btn-cons">{{"admin.settings.config.popUp1.close" | translate }}</button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END CONTAINER FLUID -->
<div class="modal fade slide-up disable-scroll ng-scope" id="EditModel" tabindex="-1" role="dialog" ng-submit="$ctrl.save()" aria-labelledby="EditModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i> </button>
                    <h4 class="p-b-5"><span class="semi-bold">{{"admin.settings.config.popUp2.cardTitle.edit" | translate }}</span> {{"admin.settings.config.popUp2.cardTitle.variables" | translate }}</h4> </div>
                <div class="modal-body">
                    <form role="form" class="ng-pristine ng-valid" ui-keypress="{13:'$ctrl.save()'}" ng-submit="$ctrl.save()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.title.label" | translate }}</label>
                                    <input id="addTitle" type="text" ng-model="$ctrl.item.title" class="form-control" placeholder='{{"admin.settings.config.popUp2.title.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.key.label" | translate }}</label>
                                    <input id="addKey" type="text" ng-model="$ctrl.item.key" class="form-control" placeholder='{{"admin.settings.config.popUp2.key.placeholder" | translate }}'> </div>
                            </div>
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.group.label" | translate }}</label>
                                    <input id="addGroup" type="text" ng-model="$ctrl.item.group" class="form-control" placeholder='{{"admin.settings.config.popUp2.group.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.type.label" | translate }}</label>
                                    <select id="addType" type="text" ng-model="$ctrl.item.type" class="form-control"
                                            placeholder='{{"admin.settings.config.popUp1.type.placeholder" | translate }}'
                                            ng-options="item for item in $ctrl.typeList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.order.label" | translate }}</label>
                                    <input id="addOrder" type="number" ng-model="$ctrl.item.order" min="0" class="form-control" placeholder='{{"admin.settings.config.popUp2.order.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group="" class="form-group form-group-default">
                                    <label>{{"admin.settings.config.popUp2.value.label" | translate }}</label>
                                    <input id="addValue" type="text" ng-model="$ctrl.item.value" class="form-control" placeholder='{{"admin.settings.config.popUp2.value.placeholder" | translate }}'> </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer ">
                    <button id="add-app" type="button" class="btn btn-primary btn-cons" ng-click="$ctrl.save()">{{"admin.settings.config.popUp2.save" | translate }}</button>
                    <button type="button" data-dismiss="modal" class="btn btn-cons">{{"admin.settings.config.popUp2.close" | translate }}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade slide-up"  id="deleteModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"admin.settings.confirmDelete" | translate }}</span></h5>
                <p></p>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <button  onclick="$('#deleteModal').modal('hide');" class="btn btn-primary btn-block m-t-5">{{"admin.settings.cancel" | translate }}</button>
                    </div>
                    <div class="col-sm-6">
                        <button  ng-click="$ctrl.confirmDelete()" class="btn btn-danger btn-block  m-t-5">{{"admin.settings.confirm" | translate }}</button>
                    </div>


                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    $('#addConfigType , #addType').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>
