<div class="container">
    <ol class="breadcrumb breadcrumb-alt">
        <li class="breadcrumb-item">{{"customer.menu.account" | translate }}</li>
        <li class="breadcrumb-item active text-capitalize">{{"customer.account.staff" | translate }}</li>
    </ol>
</div>
<div class="row m-b-15">
    <div class="col-sm-7 col-md-7 col-lg-8 col-xl-9"><div class="col">
        <p class="bold text-uppercase p-t-5 p-l-10 p-r-10">
            {{'customer.account.users.text.users' | translate}}
        </p>
    </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
        <button ng-click="$ctrl.openNewUserPopup()" class="btn btn-primary btn-block">
            {{'customer.account.users.button.New_user' | translate}}
        </button>
    </div>
</div>
<div class="card">
    <div class="gray-container">
        <div class="row justify-content-between">
            <div class="col-sm-4">
                <div class="form-group form-group-default m-b-0">
                    <label class="">
                        {{'customer.account.users.text.search' | translate}}</label>
                    <input type="text" ng-model="$ctrl.searchCriteria.staffQuery" ng-change="$ctrl.onFilterChange()" class="form-control input-c">
                </div>
            </div>
            <div class="col-sm-4">
                <div style="z-index: 2;" class="form-group form-group-custom form-group-default form-group-default-select2 m-b-0">
                    <label for="status" class="">
                        {{'customer.account.users.text.status' | translate}}

                    </label>
                    <select name="status" id="status" ng-model="$ctrl.selectedStatus" ng-change="$ctrl.onFilterChange()" class="full-width"
                            data-placeholder="Select status" data-init-plugin="select2" data-disable-search="true"
                            ng-options="item as $ctrl.translateStatus(item.key) for item in $ctrl.status.data track by item.key">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="z-index: 2;" class="form-group form-group-custom form-group-default form-group-default-select2 m-b-0">
                    <label for="role" class="">
                        {{'customer.account.users.text.select_role' | translate}}
                    </label>
                    <select ng-model="$ctrl.selectedRole" ng-change="$ctrl.onFilterChange()" class="full-width" data-placeholder="Select Role" data-init-plugin="select2"
                            ng-options="item as $ctrl.translateRole(item) for item in $ctrl.roles.data track by item._id" name="role" id="role">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card-block">
            <div class="col-md-12  padding-0">
                <div class="dataTables_wrapper no-footer">
                    <shimmer hide="!$ctrl.usersIsLoading" ></shimmer>
                    <div class="table-responsive">
                        <table ng-if="!$ctrl.usersIsLoading" class="table table-striped dataTable dataTableFormat no-footer table-hover" role="grid">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc no-text-transform fs-12 " tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product: activate to sort column descending">{{'customer.account.users.text.Name' | translate}}</th>
                                <th class="sorting_asc no-text-transform fs-12 text-center" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product: activate to sort column descending">{{'customer.account.users.text.Role' | translate}}</th>
                                <th class="sorting_asc no-text-transform fs-12 " tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product: activate to sort column descending">{{'customer.account.users.text.Email' | translate}}</th>
                                <th class="sorting_asc no-text-transform fs-12 " tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product: activate to sort column descending">{{'customer.account.users.text.status' | translate}}</th>
                            </tr></thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.customerUsers" class="gradeX odd content-table-payment" role="row">
                                <td class="sorting_1 p-l-15 mn-100">{{item.firstName}}</td>
                                <td class="sorting_1 p-l-15 text-center mn-130">{{currentLanguage.language==='ar'?item.role.arabicName:item.role.englishName}}</td>
                                <td class="sorting_1 p-l-15 mn-170">{{item.email}}</td>
                                <td class="sorting_1 p-l-15 mn-170">
                                    <span ng-show="item.status === 'Active'">{{'customer.account.users.New_user.field.status_active' | translate}}</span>
                                    <span ng-show="item.status === 'Blocked'">{{'customer.account.users.New_user.field.status_blocked' | translate}}</span>
                                </td>
                                <td class="sorting_1 p-l-15 text-center mn-80">
                                    <a class="m-r-10" href=""  ng-click="$ctrl.openEditUserPopup(item)"><i class="fa fa-pencil" ></i></a>
                                    <a href=""  ng-click="$ctrl.openResetPasswordPopup(item._id)"><i class="pg-settings_small"></i> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <list-pagination total-pages="$ctrl.totalPages" on-page-click="$ctrl.setPage(pageNumber)" current-page="$ctrl.currentPage"></list-pagination>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<create-user on-save="$ctrl.createCustomerStaffMember(user)" on-update="$ctrl.updateUser(user)" mode="$ctrl.mode" user="$ctrl.user" ></create-user>
<reset-password user-id="$ctrl.userId"></reset-password>

<script>
    $('#role , #status').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>