<div class="row">
    <div class="col-xl-3 col-sm-6 m-b-20">
        <div class="border-top-balance-card">
            <div class="p-t-10 p-b-10 p-l-15 p-r-15">
                <h6>{{"admin.reports.orders.stats.orders" | translate }}</h6>
                <shimmer hide="$ctrl.reportIsLoaded" row="1" clipped="true"></shimmer>
                <h5 ng-if="$ctrl.reportIsLoaded" class="bold">{{$ctrl.report.numberOfOrders}}
                    <small>
                        <small class="w300 sm-text-left upper-case">{{"admin.reports.orders.stats.order" | translate }}</small>
                    </small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 m-b-20">
        <div class="border-top-balance-card">
            <div class="p-t-10 p-b-10 p-l-15 p-r-15">
                <h6>{{"admin.reports.orders.stats.revenue" | translate }}</h6>
                <shimmer hide="$ctrl.reportIsLoaded" row="1" clipped="true"></shimmer>
                <h5 ng-if="$ctrl.reportIsLoaded" class="bold">{{$ctrl.report.totalRevenue | currency:"":2}}
                    <small>
                        <small class="w300 sm-text-left upper-case">{{"admin.reports.orders.stats.sar" | translate }}</small>
                    </small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 m-b-20">
        <div class="border-top-balance-card">
            <div class="p-t-10 p-b-10 p-l-15 p-r-15">
                <h6>{{"admin.reports.orders.stats.averageOrders" | translate }}</h6>
                <shimmer hide="$ctrl.reportIsLoaded" row="1" clipped="true"></shimmer>
                <h5 ng-if="$ctrl.reportIsLoaded" class="bold">{{$ctrl.report.avgDailyNumberOfOrders | number:2}}
                    <small>
                        <small class="w300 sm-text-left upper-case">{{"admin.reports.orders.stats.orderPerDay" | translate }}</small>
                    </small>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 m-b-20">
        <div class="border-top-balance-card">
            <div class="p-t-10 p-b-10 p-l-15 p-r-15">
                <h6>{{"admin.reports.orders.stats.averageRevenue" | translate }}</h6>
                <shimmer hide="$ctrl.reportIsLoaded" row="1" clipped="true"></shimmer>
                <h5 ng-if="$ctrl.reportIsLoaded" class="bold">{{$ctrl.report.avgDailyRevenue | currency:"":2}}
                    <small>
                        <small class="w300 sm-text-left upper-case">{{"admin.reports.orders.stats.sar" | translate }}</small>
                    </small>
                </h5>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="gray-container">
        <div class="row">
            <div class="col-sm-2"><p class="bold text-uppercase p-t-5 p-l-10 p-r-10">{{"admin.reports.orders.stats.orders" | translate }}</p></div>
            <div class="col-sm mb-sm-0 mb-3 d-flex justify-content-start justify-content-sm-end">
                <small class=" text-uppercase p-t-10 p-l-10 p-r-10">{{"admin.reports.orders.filter.export" | translate }}</small>
                <div class="btn-toolbar" role="toolbar">
                    <div dir="ltr" class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.exportFile('pdf')"><i
                                class="fa fa-file-pdf-o"></i> PDF
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.exportFile('xls')"><i
                                class="fa fa-file-excel-o"></i> EXCEL
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-header p-t-0" style="min-height: 20px">
            <div class="card-title">
                {{"admin.reports.orders.table.date" | translate}} ({{$ctrl.searchCriteria.startDate | date:'medium'}} - {{$ctrl.searchCriteria.endDate | date:'medium'}})
            </div>
            <div class="col-sm-6 pull-right">

            </div>
        </div>
        <div class="card-block padding-0">
            <div class="row">
                <shimmer hide="$ctrl.customersLoaded && $ctrl.suppliersLoaded" col="3" row="2" clipped="true"></shimmer>
                <div ng-show="$ctrl.customersLoaded && $ctrl.suppliersLoaded" class="col-sm-4">
                    <div style="z-index:1;"
                         class="form-group form-group-custom form-group-default form-group-default-select2">
                        <label for="supplier">{{"admin.reports.orders.filter.supplier" | translate }}</label>
                        <select id="supplier" name="supplier" ng-model="$ctrl.selectedSupplier"
                                ng-change="$ctrl.onChange()"
                                class="full-width"  data-placeholder="Select Supplier" data-init-plugin="select2"
                                ng-options="item as item.supplier.representativeName for item in $ctrl.suppliers.data track by item.supplier._id">
                        </select>
                    </div>
                </div>
                <div ng-show="$ctrl.customersLoaded && $ctrl.suppliersLoaded"  class="col-sm-4">
                    <div style="z-index:1;"
                         class="form-group form-group-custom form-group-default form-group-default-select2">
                        <label for="selectedCustomer">{{"admin.reports.orders.filter.customer" | translate }}</label>
                        <select ng-model="$ctrl.selectedCustomer" name="selectedCustomer" id="selectedCustomer"
                                ng-change="$ctrl.onChange()"
                                class="full-width"  data-init-plugin="select2"
                                ng-options="item as item.representativeName for item in $ctrl.customers.data track by item._id">
                        </select>
                    </div>
                </div>
                <div ng-show="$ctrl.customersLoaded && $ctrl.suppliersLoaded"  class="col-sm-4">
                    <div class="form-group form-group-default input-group">
                        <div class="form-input-group">
                            <label for="daterangepicker">{{"admin.reports.orders.filter.period" | translate }}</label>
                            <input type="text" style="width: 100%" name="reservation" id="daterangepicker"
                                   class="form-control"
                                   value="{{$ctrl.searchCriteria.startDate}} {{$ctrl.searchCriteria.endDate}}"/>
                        </div>
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-group-custom form-group-default form-group-default-select2" style="z-index: 1;">
                        <label>{{"admin.reports.orders.filter.status" | translate }}</label>
                        <select id="status" name="status"  multiple data-disable-search="true"
                                class="full-width select2-hidden-accessible"
                                data-init-plugin="select2"
                                class="form-control"
                                ng-model="$ctrl.selectedStatus"
                                ng-change="$ctrl.onChange()"
                                required  ng-options="item as $ctrl.translateStatus(item._id) for item in $ctrl.statusList.data track by item._id">

                        </select>
                        <label class="error"
                               ng-if="productForm.status.$error.required && !productForm.status.$pristine">
                            {{'supplier.product.field.status.required' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card-block">
            <shimmer hide="$ctrl.reportIsLoaded" col="4" row="15" clipped="true"></shimmer>
            <div ng-if="$ctrl.reportIsLoaded" class="col-md-12 padding-0">
                <div class="dataTables_wrapper ">
                    <div class="table-responsive">
                        <table class="table table-striped table-compact table-hover">
                            <thead>
                            <tr role="row">
                                <th class="bold text-center" width="160">{{"admin.reports.orders.table.date" | translate }}</th>
                                <th class="bold text-center">{{"admin.reports.orders.table.orderNumber" | translate }}</th>
                                <th class="bold text-center">{{"admin.reports.orders.table.customer" | translate }}</th>
                                <th class="bold text-center">{{"admin.reports.orders.table.supplier" | translate }}</th>
                                <th class="bold text-center">{{"admin.reports.orders.table.totalPrice" | translate }}</th>
                                <th class="bold text-center">{{"admin.reports.orders.table.status" | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.report.orders" role="row" class="cursor" ui-sref="app.admin.report.ordersDetails({id:item.orderId})">
                                <td class="v-align-middle sorting_1 p-r-0 mn-140">
                                    <span class="label upper-case">{{item.date | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span>
                                    <span class="label upper-case">{{item.date | amUtcOffset:'-0000' | amDateFormat:'HH:mm:ss'}}</span>
                                </td>
                                <td class="v-align-middle mn-140"><small><a ui-sref="app.admin.report.ordersDetails({id:item.orderId})">{{item.orderNumber}}</a></small></td>
                                <td class="v-align-middle text-capitalize mn-120">{{item.customerName}}</td>
                                <td class="v-align-middle text-capitalize  mn-120">{{item.supplierName}}</td>
                                <td class="v-align-middle text-center mn-100">{{item.totalPrice | currency:"":2}} {{"admin.reports.orders.stats.sar" | translate }}</td>
                                <td class="v-align-middle text-center mn-200">
                                    <span ng-if="item.orderStatus === 'Accepted'"
                                          class="label label-success upper-case">{{"admin.reports.orders.status.accepted" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'Pending'"
                                          class="label upper-case">{{"admin.reports.orders.status.new" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'Rejected'"
                                          class="label label-important upper-case">{{"admin.reports.orders.status.rejected" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'Canceled'"
                                          class="label label-important upper-case">{{"admin.reports.orders.status.canceled" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'FailedToDeliver'"
                                          class="label label-important upper-case">{{"admin.reports.orders.status.failedToDeliver" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'ReadyForDelivery'"
                                          class="label label-info upper-case">{{"admin.reports.orders.status.ready" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'OutForDelivery'"
                                          class="label label-inverse upper-case">{{"admin.reports.orders.status.out" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'Delivered'"
                                          class="label label-success upper-case">{{"admin.reports.orders.status.delivered" | translate }}</span>
                                    <span ng-if="item.orderStatus === 'CanceledByCustomer'"
                                          class="label label-important upper-case" data-toggle="tooltip" title="{{'admin.reports.orders.status.canceledByCustomer2' | translate }}">{{"admin.reports.orders.status.canceledByCustomer" | translate }} <i class="fa fa-info-circle fa-lg" ></i></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <list-pagination total-pages="$ctrl.totalPages" current-page="$ctrl.currentPage"
                                         on-page-click="$ctrl.setPage(pageNumber)"></list-pagination>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $('#supplier , #selectedCustomer, #status').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });

</script>
